/**

	Developpeur : Gilles HEITAA
	Date : 17/10/2017
	Objet : Mise en forme de la page message.php

*
*/
.titre-msg{
	font-size: 150%;
	display: block;
	margin: auto;
	text-align: center;
	background: #228B22;
	height: 50px;
	line-height: 50px;
	/*CSS3 : animation*/
	animation-name: titreReception;
    animation-duration: 2s;
}
	@keyframes titreReception{

		0%{
			font-size: 50%;
			width: 20%;
		}
		100%{
			width: 100%;
		}
	}

.reception-msg{
	display: block;
	margin: auto;
	width: 500px;
	margin-top: 20px;
	padding:30px;
	padding-top: 10px;
	padding-bottom: 15px;
	box-shadow: 0px 0px 10px;
	margin-bottom: 50px;
	font-family: 'Asap Condensed', sans-serif;
	box-shadow: 0px 0px 10px #333333;
}
.contenu-msg tr{
	height: 50px;
}
.contenu-msg .intitule{
	font-weight: bold;
}
body{
	min-height: 680px;
}
@media screen and (max-width: 800px){

	.reception-msg{
		width: 85%;
	}
	.titre-msg{
		margin-bottom: 20px;
	}

}